<div class="container-fluid login-page-container">
  <div class="container new-shoe-container">
  <h2 class="form-header">Shoe Details</h2>
  <%= form_for(@shoe) do |form| %>

    <div class="field">
      <%= form.text_field :name, maxlength: 20, placeholder: 'name' %>
    </div>

    <div class="field">
      <%= form.number_field :price, placeholder: 'price' %>
    </div>

    <div class="field">
      <%= form.text_field :brand, placeholder: 'brand' %>
    </div>

    <div class="field">
      <label class="btn btn-info upload-btn">
        Upload a main image file <%= form.file_field :main_image, style: 'display:none;' %>
      </label>
    </div>

    <div class="field">
      <label class="btn btn-info upload-btn">
        Upload a thumb image file <%= form.file_field :thumb_image, style: 'display:none;' %>
      </label>
    </div>

    <div class="actions">
      <%= action_button_for_forms(form) %>
    </div>
    <% end %>
  </div>
</div>
