<div class="container-fluid login-page-container">
  <div class="container new-shoe-container">
  <h2 class="form-header">Shoe Details</h2>
  <%= form_for(@shoe) do |form| %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, size: "50x50", maxlength: 20 %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
    </div>

    <div class="field">
      <%= form.label :brand %>
      <%= form.text_field :brand %>
    </div>

    <div class="field">
      <%= form.file_field :main_image %>
    </div>

    <div class="field">
      <%= form.file_field :thumb_image %>
    </div>

    <div class="actions">
      <%= action_button_for_forms(form) %>
    </div>
    <% end %>
  </div>
</div>
