<!DOCTYPE html>
<html>
  <head>
    <title>KicksCollective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'portal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'portal', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  </head>

  <body>
    <!-- <%= render 'shared/nav' %> -->
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
